venv/
venv/
grad_roze/android/app/build/
*.apk
*.tmp
grad_roze/build/app/outputs/apk/debug/app-debug.apk
grad_roze/build/app/outputs/flutter-apk/app-debug.apk
python_service/fine_tuned_model/model.safetensors
python_service/venv/Lib/site-packages/torch/lib/*.dll
python_service/venv/Lib/site-packages/torch/lib/*.lib
python_service/fine_tuned_model/model.safetensors
